.twelve.columns
  .row
    .eight.columns.centered.c222.black-border
      .c222
        %h5= "Adding a new link for `#{parent.name}`"
      .form-border
        %h2 New File Link
        = render 'form'
