*.sublime*
.bundle
.DS_Store
.sass-cache/
_rspec.html
app/assets/images/demo1.jpg
app/assets/images/demo2.jpg
app/assets/images/demo3.jpg
app/assets/images/doommy.jpg
app/assets/images/source_ports_logos/*
config/database.yml
config/initializers/secret_token.rb
config/secret.yml
coverage/*
db/*.sqlite3
log/*.log
public/assets/*
public/system/*
public/uploads/*
tmp/
uploads/*