*.sublime*
.bundle
.DS_Store
.sass-cache/
_rspec.html
config/database.yml
config/initializers/secret_token.rb
config/secret.yml
coverage/*
db/*.sqlite3
log/*.log
public/assets/*
public/system/*
public/uploads/*
tmp/
uploads/*