%p#notice= notice

%dl.nice.contained.tabs
  %dd= link_to 'Overwiew', '#overview', :class => 'active'
  %dd= link_to 'Wadfiles', '#wadfiles'
  %dd= link_to 'Screens', '#screens'

%ul.nice.contained.tabs-content
  %li.panel.project-overview.active#overviewTab
    =render @map
  %li.panel.map-wadfiles#wadfilesTab
    %p coming soon
  %li.panel.map-screens#screensTab
    %p coming soon
