.panel
  %h5= "Looks like you're trying to add a new Image for \"#{@map.name}\", keep in mind:"
  %p Only PNG, JPG and TIFF images are allowed
  %p The maximum size of an image is 1 MB

.form-border
  %h2 New map
  = render 'form'

.form-links
  = link_to 'Back'
