.twelve.columns
  .row
    .eight.columns.centered.c222.black-border
      .c222
        %h5= "Adding a new image for `#{@map.name}`, keep in mind:"
        %ul
          %li Only PNG, JPG and TIFF images are allowed
          %li The maximum size of an image is 1 MB
      .form-border
        %h2 New Image
        = render 'form'
