html { height: 100%; }
body {
  background-color: #444 !important;
  @extend html;
}

.black {
  background-color: black !important;
}

.black-border {
  border: 1px black solid !important;
  border-radius: 3px;
  -webkit-box-shadow: 0 4px 6px #000;
  -moz-box-shadow: 0 4px 6px #000;
  box-shadow: 0 4px 6px #000;
}

.tabs-content {
  .black-border{
    border-top: 0px !important;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
}

.c444 {
  background-color: #444 !important;
}

.c333 {
  background-color: #333 !important;
}

.c222 {
  background-color: #222 !important;
}

.c111 {
  background-color: #111 !important;
}

.left-floate {
  float: left;
}

.clear-floater {
  clear: both;
}

h1, h2, h3, h4, h5 {
  color: $secondaryColor;
}