#comment-list {
  padding: 12px;
  margin: 0 16px;
  .comment-div {
    .comment-top {
      border-top: 1px dashed #444;
      margin: 0 -12px;
      .comment-author, .comment-tools {
        font-size: 12px;
        color: $secondaryColor;
      }
      .comment-tools {
        text-align: right;
        .comment-icons {
          float: right;
          margin: 3px 0 0 8px;
          font-size: 18px;
          line-height: 0.8;
        }
      }
    }
  }
}

#comment-form {
  padding: 12px;
  margin: 20px 16px;
  #not-logged {
    height: 200px;
    line-height: 190px;
    text-align: center;
  }
  textarea {
    height: 180px;
  }
}

