#comment-list{
  padding: 12px;
  margin: 0 8px 0 16px;
  .comment-div {
    .comment-top{
      border-top: 1px dashed #444;
      margin: 0 -12px;
      .comment-author, .comment-date,  {
        font-size: 12px;
        color: $secondaryColor;
      }
      .comment-options {
        font-size:18px;
        line-height:1;
      }
      .comment-date {
        text-align: right;
      }
    }
    .comment-bottom {

    }
  }
}

#comment-form{
  padding: 12px;
  margin: 0 16px 0 8px;
  #not-logged{
    height: 200px;
    line-height: 190px;
    text-align: center;
  }
}

