html { height: 100%; }
body {
  background-color: #444 !important;
  @extend html;
}

.black {
  background-color: black !important;
}

.black-border {
  border: 1px black solid !important;
  border-radius: 3px;
  -webkit-box-shadow: 0 4px 6px #000;
  -moz-box-shadow: 0 4px 6px #000;
  box-shadow: 0 4px 6px #000;
}

.tabs-content > .black-border{
  border-top: 0px !important;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.c444 {
  background-color: #444 !important;
}

.c333 {
  background-color: #333 !important;
}

.c222 {
  background-color: #222 !important;
}

.c111 {
  background-color: #111 !important;
}

.left-floater {
  float: left;
}

.right-floater {
  float: right;
}

.clear-floater {
  clear: both;
}

.inline-list {
  li {
    display: inline;
    list-style-type: none;
    padding-right: 8px;
  }
}

h1, h2, h3, h4, h5 {
  color: $secondaryColor;
  text-shadow: 2px 2px 8px black;
}

.dh-title-div {
  .dh-title {
    height: 60px;
    line-height:60px;
    font-family: impact;
    font-size: 4.6em;
    color: #555;
    .colored { color: $secondaryColor; }
    span {
      margin-left:-8px;
      text-shadow: 2px 2px 14px black;
    }
    span:first-child { margin-left: 8px; }
  }
  p.under-title {
    margin: 20px 0 8px 0;
  }
  ul.support-links {
    list-style-type: none;
    text-align: right;
    .img {
      height: 100%;
      padding-right: 4px;
    }
    li {
      margin-bottom: 8px;
      > div { height: 50px; }
      .support-link-text {
        padding: 2px 60px 2px 2px;
        font-size: 13px;
      }
    }
  }
}

.resource-actions { text-align: right; }

.row.image-gallery-row {
  margin-bottom: 18px !important;
  :lastchild{ margin-bottom: 0px;};
}

.reveal-modal.doomhub-popup {
  bottom: 0px;
  width: 80%;
  margin-left: -40%;
  background-color: #444;
}