#toolbar {
  height: 28px;
  line-height: 28px;
  -webkit-box-shadow: 0 4px 6px #000;
  -moz-box-shadow: 0 4px 6px #000;
  box-shadow: 0 4px 6px #000;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

#profile-management {
  text-align: right;
}

#sticky_fadeout {
  width: 100%;
  position:fixed;
  z-index: 50;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#444), to(rgba(#444, 0)))
}