#toolbar {
  height: 28px;
  line-height: 28px;
  -webkit-box-shadow: 0 4px 6px #000;
  -moz-box-shadow: 0 4px 6px #000;
  box-shadow: 0 4px 6px #000;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

#profile-management {
  text-align: right;
}