%h1 Doomhub.com
%p ...is in early development stage.

-if alert
  .error_div
    = alert
-if notice
  .notice_div
    = notice

%br
%div
  See current projects:
  = link_to "Projects", projects_path
%br
%div
  Interested what's going on? Follow development tickets on:
  = link_to "Trello board", "https://trello.com/board/doomhub/4f9bdf84ad3167802d2a8938"
