%div{ :style => 'height: 60px; line-height:60px; font-family: impact;'}
  %span.dh-title Doom
  %span.dh-title{ :style => 'color:#2A85E8' }  hub
  %span.dh-title .
  %span.dh-title{ :style => 'color:#2A85E8' } com
%p ...is in early development stage.

-if alert
  .error-div
    = alert
-if notice
  .notice-div
    = notice

.panel
  %div
    See current projects:
    = link_to "Projects", projects_path
  %br
  %div
    Interested in what's going on? Follow development tickets:
    = link_to "Trello board", "https://trello.com/board/doomhub/4f9bdf84ad3167802d2a8938"
