.twelve.columns
  .row
    .eight.columns.centered.c222.black-border
      .c222
        %h5= "Adding a new resource for `#{parent.name}`"
      .form-border
        %h2 New Resource
        .row
          = render 'form'

