ul.breadcrumbs {
  background-color: #444;
  border-color: #333;
  border-radius: 3px;
  margin-top: 12px;
  li {
    padding: 0 4px 0 0 !important;
    a, span {
      text-transform: none !important;
      font-size: 13px !important;
      padding-left: 0px !important;
    }
  }
  li::before { content: "" !important; }
  -webkit-box-shadow: 0 4px 6px #000;
  -moz-box-shadow: 0 4px 6px #000;
  box-shadow: 0 4px 6px #000;
}

#toolbar{
  .nav-bar{
    height: 26px;
    margin-top: 0px;
    margin-bottom: 0px;
    li {
      line-height: 24px;
      border-color: black;
      border-width: 2px 1px;
      -webkit-box-shadow: 0 0 20px #000 inset;
      -moz-box-shadow: 0 0 20px #000 inset;
      box-shadow: 0 0 20px #000 inset;
    }
  }
}