ul.breadcrumbs {
  background-color: #333;
  border-color: #222;
  border-radius: 3px;
  margin-top: 12px;
  li {
    padding: 0 4px 0 0 !important;
    a, span {
      text-transform: none !important;
      font-size: 13px !important;
      padding-left: 0px !important;
    }
  }
  li::before { content: "" !important; }
  -webkit-box-shadow: 0 4px 6px #000;
  -moz-box-shadow: 0 4px 6px #000;
  box-shadow: 0 4px 6px #000;
  font-weight: bold;
}

#toolbar{
  .nav-bar{
    height: 26px;
    margin-top: 0px;
    margin-bottom: 0px;
    li {
      line-height: 24px;
      border-color: black;
      border-width: 2px 1px;
      -webkit-box-shadow: 0 0 20px #000 inset;
      -moz-box-shadow: 0 0 20px #000 inset;
      box-shadow: 0 0 20px #000 inset;
    }
  }
}

dl.nice.tabs {
  border-bottom: 1px black solid;
  dd {
    border-right: 1px black solid;
    a { @extend .c222; }
    a.active {
      background-image: linear-gradient(bottom, rgb(51,51,51) 66%, $mainColor 93%);
      background-image: -o-linear-gradient(bottom, rgb(51,51,51) 66%, $mainColor 93%);
      background-image: -moz-linear-gradient(bottom, rgb(51,51,51) 66%, $mainColor 93%);
      background-image: -webkit-linear-gradient(bottom, rgb(51,51,51) 66%, $mainColor 93%);
      background-image: -ms-linear-gradient(bottom, rgb(51,51,51) 66%, $mainColor 93%);

      background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.66, rgb(51,51,51)),
        color-stop(0.93, $mainColor)
      );
    }
  }
  dd:first-child {
    border-left: 1px solid black;
  }
}

form{
  label {
    color: white;
  }
}

fieldset {
  legend {
    background: transparent;
    color: $secondaryColor;
  }
}

abbr, acronym {
  color: $secondaryColor;
  border: 0px;
}

.panel{
  line-height: 1.6;
}