.actions {
  margin-left: 140px;
  margin-top: 20px;
}

.centered-actions{
  margin: 30px 0;
  text-align: center;
  clear: both;
}

.form-actions {
  clear: both;
  float: left;
  margin-top: 10px;
}

.form-links {
  clear: both;
  float: left;
  margin-top: 10px;
}

.form-border{
  border: 1px solid #222;
  width: 500px;
  margin: 40px auto;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  h2 {
    margin-left: 10px;
  }
}

.bordered {
  float: none;
}

#forgot-pass-link {
  float: right;
  margin-right: 20px;
  margin-bottom: -16px;
}
