html, body {
  height: 100%;
}

.container{
  padding: 0px;
}

.container#topmost{
  position: relative;
  min-height: 100%;
  margin: 0 auto -18px;
}

.row{
  max-width: 1200px;
  margin: 0px;
}

form {
  margin: 0px;
}

#footer, .push {
  position: relative;
  height: 18px;
  margin: 0 auto;
}

.twelve.columns#author{
  text-align: center;
  position: relative;
}

.error_div {
  border: 2px solid #C00;
  padding: 8px;
  background-color: #F66 !important;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  color: #FFF;
  font-weight: bold;
  margin: 0 12.5%;
  width: auto;
  margin-bottom: 20px;
}

.notice_div {
  padding: 8px;
  border: 2px solid #55D;
  background-color: #AAD !important;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  color: #FFF;
  font-weight: bold;
  margin: 0 12.5%;
  width: auto;
  margin-bottom: 20px;
}