html, body {
  height: 100%;
}

.container{
  padding: 0px;
}

.container#topmost{
  position: relative;
  min-height: 100%;
  margin: 0 auto -24px;
  line-height:18px;
}

.row{
  margin: 0px;
}

form {
  margin: 0px;
}

#mother-of-all-containers {
  margin: auto;
  width: 980px;
  height: 100%;
}

#footer, .push {
  position: relative;
  height: 24px;
  margin: 0 auto;
}

.twelve.columns#author{
  text-align: center;
  position: relative;
  height: 100%;
  line-height: 22px;
}

.dh-title { font-size: 4.6em; }

.almostblack{
  background-color: #222;
  height: 24px;
}

#toolbar {
  color: white;
  height: 100%;
  line-height: 2;
}

#login-logout { padding-left: 8px; }

#profile-management { text-align: right; }

#project-links { text-align: center; }