html, body {
  height: 100%;
}

#mother-of-all-containers {
  margin: auto;
  width: 980px;
  height: 100%;
}

.container{
  padding: 0px;
}

.container#topmost{
  position: relative;
  min-height: 100%;
  margin: 0 auto -24px;
  line-height:18px;
}

.row{
  margin: 0px;
}

form {
  margin: 0px;
}

#footer, .push {
  position: relative;
  height: 24px;
  margin: 0 auto;
}

.twelve.columns#author{
  text-align: center;
  position: relative;
  height: 100%;
  line-height: 22px;
}

.error-div {
  border: 2px solid #C00;
  padding: 8px;
  background-color: #F66 !important;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  color: #FFF;
  font-weight: bold;
  margin: 0 12.5%;
  width: auto;
  margin-bottom: 20px;
}

.notice-div {
  padding: 8px;
  border: 2px solid #55D;
  background-color: #AAD !important;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  color: #FFF;
  font-weight: bold;
  margin: 0 12.5%;
  width: auto;
  margin-bottom: 20px;
}

.dh-title { font-size: 4.6em; }

.almostblack{
  background-color: #222;
  height: 24px;
}

#toolbar {
  color: white;
  height: 100%;
  line-height: 2;
}

#login-logout { padding-left: 8px; }

#profile-management { text-align: right; }

#project-links { text-align: center; }

.panel.project-overview,
.panel.project-maps,
.panel.map-overview,
.panel.map-wadfiles,
.panel.map-screens{
  .resource-actions { text-align: right; }
}
