.panel.project-overview,
.panel.project-maps,
.panel.map-overview,
.panel.map-wadfiles,
.panel.map-screens{
  .resource-actions { text-align: right !important; }
}

.project-index.project-overview {
  .project-description-container{
    margin-top: 12px;
    border: 2px solid #B4AFA5;
    padding: 10px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    background: white;
  }
  .project-description{
    max-height:150px;
    overflow: auto;
    ul {
      padding-left: 24px !important;
      list-style-type: disc;
    }
  }
}